html {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  #menu {
      padding-top: 0px;
      margin-left: 0px;
  }
  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}
}

@media (max-width: 992px) {
  .nav-item {
      margin-left: 10px;
      margin-right: 10px;
  }
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
}

#navbar {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E92727;
  color: white !important;
}

.menu-link {
  color: white !important;
}

.menu-link:hover {
  color: rgb(207, 207, 207) !important;
}

.menu-link:active {
  color: rgb(51, 51, 51)!important;
}

.product-tab {
  color: black !important;

}

.search-bar {
  padding-top: 20px;
}

.carousel-text {
  padding: 60px;
  position: relative;
  bottom: 600px;
}

.card {
  padding: 0px;
  margin-bottom: 5px;
  align-items: center;
}

.carousel .item img {
  left: -9999px;  /*important */
  right: -9999px;  /*important */
  margin: 0 auto;  /*important */
  max-width: none;  /*important */
  min-width: 100%;
  position: absolute;
}

.card-header.faq {
  width: 100%
}

.card-block.faq {
  width: 100%
}

.search-bar {
  width: 400px;
}

.product-group-sku {
  padding-right: 10px;
}

.product-group {
  padding-right: 10px;
}

.btn-danger {
  background-color: #E92727 !important;
  border-color: #E92727 !important;
}

.btn-danger:hover {
  background-color: rgb(184, 30, 30) !important;
  border-color: rgb(184, 30, 30) !important;
}